// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.x-portrait .my-carousel-item-img {
    background-size: 100% auto;
}

.x-landscape .my-carousel-item-img {
    background-size: auto 100%;
}

.my-carousel-item-img {
    background-position: center center;
}

.x-carousel-indicator > * {
    background-color: orange !important;
    opacity: 0.4;
}

.x-carousel-indicator > .x-carousel-indicator-active {
    opacity: 1;
}